body {
    background-color: green;
    
}



h1 {
	border:1px solid green;
	background:#04B431;
}

p {
	font-family: courier;
	font-size:100%;


}
a:link{
    color: #3ADF00;
}

a:visited{
    color: #BFFF00;
}

a:hover{
    color: #00FFBF;
}